.chat-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.chat-title-box {
    background-color: #686d76;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    color: white;
}

.chat-nickname-box {
    position: relative;

    background-color: #eeeeee;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.chat-nickname-box input {
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    font-size: 1.2rem;
    width: 20vw;
    margin-right: 20px;
    text-align: center;
}

.chat-nickname-box input:focus {
    outline: none;
}

.chat-nickname-box button {
    position: absolute;
    width: 30px;
    right: 0;
    padding: 5px;
    width: 50px;
    margin-right: 10px;;
}

.chat-nickname-box .user-list {
    z-index: 1;
    position: absolute;
    display: none;
    top: 50%;
    right: 20%;

    width: 100px;
    height: 140px;
    background-color: whitesmoke;
    border-radius: 5px;

    overflow-x: hidden;
}

.chat-log-box {
    padding: 15px;
    width: 100%;
    height: 90vh;
    overflow-x: hidden;
}

.chat-send-box {
    width: 100%;
    padding: 5px;
    background-color: #eeeeee;
}

.chat-send-box input {
    width: 80%;
    padding: 10px;
    margin-right: 1%;
    border: 0.1;
}

.chat-send-box button {
    width: 19%;
    padding: 10px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.chat-send-box button:hover {
    color: green;
}

.chat-send-box button:disabled {
    color: gray;
}



/* render chat */
.new-user-log {
    color: gray;
    text-align: center;
}

.user-exit-log {
    color: red;
    text-align: center;
}

.self-log {
    color: orange;
    text-align: end;
}